html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 12px;
    padding-top: 38px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

small {
    display: block;
}

h1 {
    font-size: 24px;
}

p,
small {
    color: #565656;
}

.cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

input {
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 18px 16px;
    width: 100%;
    display: block;
    height: 32px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: #f7f7f7;
}

input.hidden {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 1px;
    opacity: 0;
}

label {
    display: block;
    padding-top: 16px;
}

.relative {
    position: relative;
}

span.placeholder {
    position: absolute;
    bottom: 16px;
    right: 12px;
}

button {
    height: 42px;
    border: none;
    border-radius: 2px;
    background: #dedede;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

button.abs {
    position: fixed;
    bottom: 16px;
    right: 12px;
    left: 12px;
}

button.outlined {
    margin-top: 22px;
    width: 100%;
    background: none;
    border: 1px solid #dedede;
    box-shadow: none;
}